@model CarRental.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@Model.customer == null)
{
    <h2>Add new customer</h2>
}
else
{
    <h2>Update customer - @Model.customer.Name</h2>
}
<hr>
@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m=>m.customer.Name)
        @Html.TextBoxFor(m=> m.customer.Name, new { @class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.customer.Birthdate)
        @Html.TextBoxFor(m => m.customer.Birthdate, "{0: d MMM yyyy}", new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.customer.MembershipTypeId, new SelectList(Model.MembershipTypes,"Id","Name"), "Select Membership Type", new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.customer.IsSubscribedToNewsLetter) Subscribe To NewsLetter?
        </label>
    </div>
    @Html.HiddenFor(m=>m.customer.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}