@model IEnumerable<CarRental.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Customers
</h2>
<hr>
@Html.ActionLink("Add New Customer","New", new { }, new { @class = "btn btn-primary" })
<hr>
@*@if (!Model.Any())
{
    <p>We dont have any customers yet</p>
}
else
{*@
    <table id="Customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                    <td>
                        <button data-customer-id="@customer.Id" data-customer-name="@customer.Name" class="btn btn-link js-delete">
                            Delete
                        </button>
                    </td>
                </tr>
            }*@
        </tbody>
    </table>
@* } *@
@section scripts
{
    <script>
        $(document).ready(function () {
           var table = $("#Customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [{
                        data: "Name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                },
                {
                    data: "membershipType.name"
                },
                {
                    data: "id",
                    render: function (data, type, customer) {
                        return "<button class='btn-link js-delete' data-customer-id='" + customer.id + "' data-customer-name='" + customer.name + "'>Delete</button>";
                    }
                }
                ]
            });
            $("#Customers").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete " + button.attr("data-customer-name") + "?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
